{% load static %}
{% include 'head.html' %}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        body {
          background-image: url("{% static 'background.jpg' %}");
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
        }
        .white_table {
        background-color: white;
        border-radius: 10px;
        display: inline-block;   /* shrink to fit the text */
        padding: 8px 16px;       /* add spacing around text */
        margin: 10px;            /* space around the box */
            }

    </style>
</head>
<body>

<h1 class="white_table">Welcome to the Quizzer</h1>
<h1 class="white_table">Available Quizzes</h1>
<br>

<a href="{% url 'quizzes' %}">Go To Quizzes</a>


</body>
</html>
